{% extends 'AmapMainBundle::layout.html.twig' %}


{% block content %}
    
    <h1>{{accueil.title}}</h1>
    
    <div class="slider-wrapper theme-default">
	    <div id="slider" class="nivoSlider">
	    	{% for img in accueil.image %}
		    	{% set webPath = '/' ~ img.webPath %}
		        <img src="{{ webPath | apply_filter('home_thumb') }}" alt="{{img.alt}}" />
	        {% endfor %}
	    </div>
    </div>
	<div id="htmlcaption" class="nivo-html-caption">
	    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
	</div>
    
    {{accueil.content | raw}}
    
{% endblock %}


{% block head %}
    {{ parent() }}
    
    {% stylesheets 
       '@AmapMainBundle/Resources/public/nivo-slider/nivo-slider.css' 
       '@AmapMainBundle/Resources/public/nivo-slider/themes/default/default.css' 
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block endPage %}
    {{ parent() }}
    
    {% javascripts 
        '@AmapMainBundle/Resources/public/nivo-slider/jquery.nivo.slider.pack.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type="text/javascript">
	$(window).load(function() {
	    $('#slider').nivoSlider({
	        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
	        slices: 15, // For slice animations
	        boxCols: 8, // For box animations
	        boxRows: 4, // For box animations
	        animSpeed: 500, // Slide transition speed
	        pauseTime: 3000, // How long each slide will show
	        startSlide: 0, // Set starting Slide (0 index)
	        directionNav: true, // Next & Prev navigation
	        controlNav: true, // 1,2,3... navigation
	        controlNavThumbs: false, // Use thumbnails for Control Nav
	        pauseOnHover: true, // Stop animation while hovering
	        manualAdvance: false, // Force manual transitions
	        prevText: 'Prev', // Prev directionNav text
	        nextText: 'Next', // Next directionNav text
	        randomStart: false, // Start on a random slide
	        beforeChange: function(){}, // Triggers before a slide transition
	        afterChange: function(){}, // Triggers after a slide transition
	        slideshowEnd: function(){}, // Triggers after all slides have been shown
	        lastSlide: function(){}, // Triggers when last slide is shown
	        afterLoad: function(){} // Triggers when slider has loaded
	    });
	});
	</script>
{% endblock %}


