
{% if deliveries is defined and deliveries is not empty %}

{% if deliveries|length > 1 %}
    {% set pluriel = 's' %}
{% else %}
    {% set pluriel = '' %}
{% endif %}

<div class="well">
	
	<h4>
		Prochaine{{pluriel}} commande{{pluriel}} exceptionnelle{{pluriel}}
	</h4>
	
	<hr class="divider" />
	
	{% for delivery in deliveries %}
	
		{% set panierAddon = delivery.panierAddon %}
		{% set plength = panierAddon|length %}
		
	    <h5 class="text-success">
	    	<i class="icon-star"></i>
	    	Commande{% if plength>1 %}s{% endif %} exceptionnelle{% if plength>1 %}s{% endif %} !
	    </h5>
	    
	    
	    <div class="panier_addon">
	    {% for panier in delivery.panierAddon %}
	        <ul class="nav nav-list">
		        <li class="nav-header">
			        <small>
			        	<i class="icon-calendar"></i>
			            Livré le : 
			            {{ delivery.deliveredAt | localizeddate('medium', 'none') | label('success') }}
			        </small>
		        </li>
	        {% for product in panier.product %}
	            <li>
	            	<i class="icon-leaf"></i>
	                {{product.title}}
	            </li>
	        {% endfor %}
	        </ul>
	        <div class="control-group">
	        <a href="{{ path('commande_new', {'panierAddon': panier.id, 'delivery': delivery.id}) }}" class="btn btn-success">
	        	<i class="icon-shopping-cart"></i>
	        	Je commande
	        </a>
	        </div>
	    {% endfor %}
	    </div>
	    
	    <hr class="divider" />
    {% endfor %} {# deliveries #}
    
</div>
{% endif %}
