{% extends 'AmapMainBundle::layout.html.twig' %}

{% block title %}
    {{parent()}}
    - Le Blog : Modifier {{entity.title}}
{% endblock %} 

{% form_theme edit_form 'AmapMainBundle:Form:fields.html.twig' %}
{% form_theme delete_form 'AmapMainBundle:Form:fields.html.twig' %}

{% block content -%}

    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}"><i class="icon-home"></i> Home</a> <span class="divider">></span></li>
        <li><a href="{{ path('blog') }}">Blog</a> <span class="divider">></span></li>
        <li><a href="{{ path('blog_category', {'slug': entity.category.slug}) }}">{{ entity.category.title }}</a> <span class="divider">></span></li>
        <li><a href="{{ path('blog_edit', {'slug': entity.slug}) }}">Modifier : {{ entity.title }}</a> <span class="divider">|</span></li>
        <li><a href="{{ path('blog_show', {'slug': entity.slug}) }}"><i class="icon-eye-open"></i></a></li>
    </ul>

    <form class="form form-horizontal" action="{{ path('blog_update', { 'slug': entity.slug }) }}" method="post" {{ form_enctype(edit_form) }} id="article_edit_form">
        <legend>Modifier</legend>
        
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        
        <div class="control-group">
            <div class="controls">
	            <button type="submit" class="btn btn-success btn-large">
	            	<i class="icon-edit"></i>
	            	Modifier
	            </button>
            </div>
        </div>
    </form>
    
    {#
    {% include 'AmapBlogBundle:Article:_crud_btn_group.html.twig' %}
    #}
    
    <hr class="divider" />
    
    {% include 'AmapMainBundle:Plupload:content.html.twig' %}
    
    <button type="submit" class="btn btn-success btn-large pull-right" form="article_edit_form">
        <i class="icon-edit"></i>
        Modifier
    </button>
    
{% endblock %}

{% block head %}
    {{ parent() }}
    
    {% include 'AmapMainBundle:Plupload:init.html.twig' with {css: true} %}
{% endblock %}


{% block endPage %}
    {{ parent() }}
    {{ tinymce_init() }}
    
    {% include 'AmapMainBundle:Plupload:init.html.twig' with {js: true} %}
{% endblock %}
